/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

.page-footer, body {
  background-color: #305a7de0;
  color: white;
}

.card-content, .card-action {
  background-color: #386f9d;
  color: white;
}

p {
  line-height: 2rem;
}

a {
  color: #2ed8c7d0;
}

nav, .nav-wrapper {
  background-color: #e2e2e2;
}

#logo {
  width: 32%;
}
#name {
  font-size: 50px;
}

.card-title {
  background-color: #26a69a;
  width: fit-content;
  height: fit-content;
  opacity: 0.7;
  border-radius: 10%;
  line-height: 5%;
}

.circularImg {
  width: 130px;
  height: 150px;
  border-radius: 100%;
}

input:focus {
  border-bottom: none!important;
  box-shadow: none!important;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255, 255, 255, .9);
}

.parallax-container .section {
  width: 100%;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  .quoteBlack {
    color: black;
  }

  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
  .quoteBlack {
    color: black;
  }
}

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
::-webkit-scrollbar-thumb {
  background: #888; 
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

* {
  font-family: 'Work Sans', sans-serif;
}

.header {
  font-family: 'Courgette', cursive;
  color: #62ffef; 
}